<div class="otp-container">
  <h2>Enter Verification Code</h2>
  <form [formGroup]="otpForm">
    <div class="otp-inputs">
      <div formArrayName="otp">
        <span *ngFor="let control of otpControls; let i = index">
          <input type="text" maxlength="1" [id]="'digit'+i" class="otp-input" (input)="moveToNext(i, $event)"
            placeholder="*" [formControlName]="i">
        </span>
      </div>
    </div>
    <button class="verify-btn" type="button" (click)="onSubmit()">verify</button>
  </form>
</div>