<app-header2></app-header2>
<main>
    <span class="flex" *ngFor="let product of products">
        <div class="products-container">
            <div class="product-card">
                <img [src]="httpService.BASE_URL+ '/' + product.imageUrl" alt="Product image"
                    (click)="onClickProduct(product._id)">
                <h2>{{product.name}}</h2>
                <p>{{product.description}} </p>
                <span class="price"><s>{{product.mrp | currency: 'INR' }}</s>
                    {{(product.mrp*(100-product.discount)/100)| currency:
                    'INR'}} </span>
                <br>
                <p *ngIf="product.totalQuantity <= 0">out of stock</p>
                <div class="buttons">
                    <div>
                        <button type="button" (click)="onClickAddCart(product._id)"
                            [disabled]="product.totalQuantity <= 0">{{
                            product.inCart? 'Go to cart' :'Add to
                            Cart'}}</button>
                    </div>
                    <div class="mt-1">
                        <input type="image"
                            [src]="(product.wishlist)? '../../../assets/like.png': '../../../assets/noLike.png'"
                            height="30px" width="30px" alt="wishlist" (click)="onClickAddWishlist(product._id)">
                    </div>
                </div>
            </div>
        </div>
    </span>
    <div class="container">
        <button type="button" class="btn btn-primary mx-2" *ngFor="let page of pages; let index = index"
            (click)="loadPage(index)">{{index+1}}</button>
    </div>
</main>




<!-- <main>

    <div class="flex" *ngFor="let product of products">
        <div class="card mx-5 my-3" style="width: 18rem;">
            <img [src]="httpService.BASE_URL+ '/' + product.imageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text"> {{product.description}} </p>
                <p> <s>{{product.mrp | currency: 'INR' }}</s> {{(product.mrp*(100-product.discount)/100)| currency:
                    'INR'}} </p>
                <p *ngIf="product.discount">Discount: {{product.discount}}% </p>
            </div>
        </div>
    </div>

</main> -->
