<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Cart</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="">Logout</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<main>
    <span class="flex" *ngFor="let product of products">
        <div class="products-container">
            <div class="product-card">
                <img [src]="httpService.BASE_URL+ '/' + product.imageUrl" alt="Product 1">
                <h2>{{product.name}}</h2>
                <p>{{product.description}} </p>
                <span class="price"><s>{{product.mrp | currency: 'INR' }}</s>
                    {{(product.mrp*(100-product.discount)/100)| currency:
                    'INR'}} </span>
                <br>
                <div class="buttons">
                    <div>
                        <button>{{ product.inCart? 'Go to cart' :'Add to Cart'}}</button>
                    </div>
                    <div class="mt-1">
                        <input type="image"
                            [src]="(product.wishlist)? '../../../assets/like.png': '../../../assets/noLike.png'"
                            height="30px" width="30px" alt="wishlist" (click)="onClickAddWishlist(product._id)">
                    </div>
                </div>
            </div>
        </div>



    </span>

</main>




<!-- <main>

    <div class="flex" *ngFor="let product of products">
        <div class="card mx-5 my-3" style="width: 18rem;">
            <img [src]="httpService.BASE_URL+ '/' + product.imageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text"> {{product.description}} </p>
                <p> <s>{{product.mrp | currency: 'INR' }}</s> {{(product.mrp*(100-product.discount)/100)| currency:
                    'INR'}} </p>
                <p *ngIf="product.discount">Discount: {{product.discount}}% </p>
            </div>
        </div>
    </div>

</main> -->
